@use "partials/setup";
@use "partials/variables" as v;

/*HEADER STYLES*/
/*header {
    background: url(../novas-project/assets/home.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    &.contact-header {
        background: url(../novas-project/assets/contact.jpg);
        background-repeat: no-repeat;
    }
}*/

header {
    background: url(../novas-project/assets/home.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-header {
    background: url(../novas-project/assets/contact-us.jpg);
    height: 100vh;
    background-repeat: no-repeat;
}

.contact-header h2 {
    text-align: left;
}

fieldset{
    border: none;
    text-align: left;
    max-width: 400px;
  }

header .wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}  

header .text-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: greenyellow;
    margin: 200px 0 0 200px;
    height: 250px;
    width: 250px;
}

nav {
    text-transform: uppercase; 
    margin: 20px 0px 20px 50px;
    display: flex;
}

nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav li {
    margin: 0 10px;
    /*display: flex;
    justify-content: space-between;*/
}

nav ul a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: left;
    font-weight: 500;
    width: 100%;
}

header h2 {
    text-align: center;
    font-weight: 400;
}

header p {
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
}

.section-title {
    text-align: center;
    font-weight: 400;
    margin-top: 50px;
}

.vertical-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 200px;
}

.vertical-items ul {
    display: flex;
    background: greenyellow;
}

.vertical-items li {
    margin: 10px;
    width: calc(100% / 3);
    padding: 20px 10px 0;
}

.featured-sale {
    display: flex;
    justify-content: center;
    margin: 10px 100px;
}

.featured-sale ul {
    display: flex;
    flex-wrap: wrap;
}

.featured-sale li {
    width: calc(100% / 5);
}

button {
    display: flex;
    justify-content: center;
    margin: 0 50%;
    padding: 5px 20px;
}

.couches {
    display: flex;
    justify-content: center;
    background: greenyellow;
    margin: 20px 200px;
}

.couches ul {
    display: flex;
}

.couches li {
    height: 100%;
    margin: 10px;
}

.instagram {
    display: flex;
    margin: 40px 200px 80px;
}

.instagram ul {
    display: flex;
}

.instagram li {
    margin: 10px;
}

/*form{
    text-align: left;
  }*/

/* Footer Styles*/

footer {
    display: flex;
    color: white;
    font-size: 16px;
    background: #333;
}

footer .text-container {
    justify-content: left;
    width: 250px;
}

footer .slogan ul {
    display: flex;
}

/*footer ul {
    display: flex;
}*/

footer img {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 5px;
}

/* Code I pulled from polar bear project to see what would help header

header {   
    padding-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: 500;
    font-size: 4rem;
}

h1 span {
    font-weight: 700;
    display: block;
}

nav ul {
    display: flex;
}  

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    background: #295196;
    font-size: 1.75rem;
    padding: 10px 40px 5px;
    text-decoration: none;
    display: inline-block;
    border: 4px solid transparent;
}

nav a:hover,
nav a:focus {
    border: 4px solid white;
}
*/