@use "partials/setup";
@use "partials/contact";
@use "partials/variables" as v;

/*HEADER STYLES*/
header {
    background: url(../novas-project/assets/home.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        height: 250px;
        width: 250px;
        position: absolute;
        top: calc(20%);
        left: calc(15%);
        color: v.$darkergrey;
    }

    p {
        margin-top: 10px;
    }
}

nav {
    text-transform: uppercase;
    display: flex;
    margin: 0px;
    justify-content: space-between;
    color: v.$darkergrey;

    .partial-underline {
        border-bottom: 1px solid v.$darkergrey;
        border-image-source: linear-gradient(to right, v.$darkergrey, white);
        border-image-slice: 10;
    }

    .nav-logo {
        margin: 10px 0 10px 25px;
    }

    .nav-shopping-bag {
        height: 100%;
        margin: 5px 0 10px 25px;
        display: flex;
        position: relative;

        p {
            font-size: 12px;
            color: v.$darkergrey;
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
}

nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0 10px 0;

    li {
        margin: 0 10px;
        /*display: flex;
        justify-content: space-between;*/
    }

    a {
        text-decoration: none;
        color: v.$darkergrey;
        /*hover:
        focus: FIGURE OUT how to properly use these**/
    }
}

h1 {
    text-align: left;
    font-weight: 500;
    width: 100%;
}

header h2 {
    text-align: center;
    font-weight: 400;
}

header p {
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
}

.featured-sale-title {
    text-align: center;
    font-weight: 300;
    margin: 25px 0 40px 0;

    h2 {
        border-bottom: 2px solid v.$darkergrey; /*why no work?*/
    }
}

.index-h2 {
    text-align: center;
    font-weight: 300;
    margin: 10px;
}

.index-p {
    text-align: center;
    color: v.$lightgrey;
}

.vertical-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(10%);
    margin-right: calc(10%);
    margin-top: 25px;
    margin-bottom: 0;
    position: relative;

    .vertical-items-text {
        background-color: white;
        color: v.$darkergrey;
        position: absolute;
        top: 270px;
        padding: 5px 10px 5px 5px;
        font-size: 14px;
    }

    ul {
        display: flex;
        max-width: 100%;

        li {
            margin: 10px;
            width: calc(100% / 3);
            padding: 20px 10px 0;
        }
    }
}

.featured-sale {
    display: flex;
    justify-content: center;
    margin: 50px 100px;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: calc(100% / 5 - 1rem);
            margin: .5rem;
            border: 1px solid rgb(240, 233, 233);
            position: relative;
        }
    }
}

.sale,
.new {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 0px;
    width: 50px;
    text-align: center;
    padding: 3px 0 3px 0;
}

.sale {
    background: v.$pink;
}

.new {
    background: v.$babyblue;
}

.sales-description {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

.product-info-container {
    margin-left: 10px;
}

.shopping-cart-container {
    width: 25%;
    height: 25%;
    border: 1px solid rgb(240, 233, 233);
    margin: 0 10px 10px 0;
}

span {
    display: flex;
    justify-content: center;
}

button {
    background: white;
    color: v.$darkergrey;
    border: 1px solid v.$darkergrey;
    padding: 15px 25px 10px 25px;
    text-align: center;
}

.couches {
    display: flex;
    justify-content: center;
    margin: 20px 90px;

    ul {
        display: flex;

        li {
            height: 100%;
            margin: 10px;
        }
    }
}

.sale-up-to {
    position: relative;
    top: -195px;
    left: 125px;
    text-transform: uppercase;
    background: white;
    color: v.$taupe;
    width: 100px;
    padding: 0 10px 0 10px;
    font-size: 14px;
}

.fifty-percent-off {
    position: relative;
    top: -195px;
    left: 70px;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    font-size: 50px;
}

.shop-now {
    position: relative;
    top: -195px;
    left: 125px;
    color: white;
    margin-top: 50px;
}

.leather-loveseat {
    position: relative;
    border: 10px solid white;
    background-color: palevioletred;
    width: 100%;
    display: block;
    clear: right;
    border-radius: 5px;

    .get {
        position: absolute;
        color: white;
        font-size: 25px;
        left: 220px;
        top: -400px;
    }

    .thirty-percent {
        position: absolute;
        color: white;
        font-size: 50px;
        left: 280px;
        top: -415px;
    }

    .off {
        position: absolute;
        color: white;
        font-size: 25px;
        left: 400px;
        top: -400px;
    }

    .on-elisa {
        position: absolute;
        color: white;
        font-size: 25px;
        left: 175px;
        top: -330px;
    }
}

.text-border {
    border: 2px white;
    height: 100px;
    width: 125px;
}

.instagram {
    display: flex;
    margin: 40px 100px 80px;

    ul {
        display: flex;

        li {
            margin: 10px;
        }
    }
}

/* Footer Styles*/

footer {
    display: flex;
    color: white;
    font-size: 16px;
    background: #333;
    justify-content: space-around;
    padding: 25px;
    line-height: 1.3;

    .text-container {
        justify-content: left;
        width: 250px;
        margin: 10px 0 10px 0;
        /*width: calc(25%);*/
    }

    img {
        height: 20px;
        width: 20px;
        margin: 0 5px 0 5px;
    }

    .slogan ul {
        display: flex;
        justify-content: flex-start;
    }

    .logo img {
        width: calc(25% + 50px);
        height: 100%;
        margin: 0;
    }
}

input {
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0 25px 0;
    display: block;
    width: 100%;
    appearance: none;
    pointer-events: none;
}

/*.email-submission {
    fieldset {
        border: none;
        padding: 0;
    }

    input {
        border: none;
        border-bottom: 1px solid black;
        margin-top: 10px;
        display: block;
        width: 100%;
    }
}*/

/*.newsletter {
    input {
        border: none;
        border-bottom: 1px solid black;
        margin-top: 10px;
        display: block;
        width: 100%;
    }

    fieldset {
        border: none;
        padding: 0;
    }
}*/

/* Media Queries*/
@media (max-width: 600px) {
    input[type="checkbox"] {
        display: block;
    }
}

input[type="checkbox"] {
    appearance: none;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    cursor: pointer;
    background: url(/novas-project/assets/icons/icons8-menu-rounded-32.png) center / cover no-repeat;
}

@media (max-width: 600px) {

    .vertical-items ul,
    .featured-sale ul,
    .couches ul,
    .instagram ul {
        flex-direction: column;
        align-items: center;

        li {
            width: 100%;
        }
    }
}

/*@media (max-width: 600px) {
  input[type="checkbox"] {
    display: block;
  }
  .vertical-items ul {
    flex-direction: column;
    align-items: center;
    li {
      width: 100%;
      height: 100%;
      border: 1px solid black;
    }
  }
}*/