html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*stripping the default styles*/
h1, h2, h3, h4, h5, h6, p, ul, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.contact-wrapper {
  max-width: 1200px;
  width: 50%;
  margin: 0 auto;
}

/*for responsive design, making sure image is never larger than parent element*/
img {
  max-width: 100%;
  height: auto;
}

/* From Style Guide:

Heading Text = Poppins Medium 500

Body Text = Poppins Regular 400

50% Off = Poppins Bold 700
*/
html {
  font-family: "Poppins", sans-serif;
  font-size: 125%;
}

nav,
main {
  background: #fff;
}

footer {
  background: #333;
}

/* Contact Page Styles*/
.contact-header {
  background: url(../novas-project/assets/contact-us.jpg);
  height: 35vh;
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
}

.header-text-container {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Contact Page Form*/
.contact-submission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  max-width: 500px;
  margin: 100px 0 100px 0;
}
.contact-submission input {
  border: none;
  border-bottom: 1px solid #333;
  margin-top: 10px;
  display: block;
  width: 100%;
}
.contact-submission fieldset {
  border: none;
  padding: 0;
}
.contact-submission textarea {
  border: none;
  border-bottom: 1px solid #333;
  margin-top: 10px;
  width: 500px;
}
.contact-submission button {
  border: 1px solid #333;
  width: 100px;
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  color: #333;
}

/*HEADER STYLES*/
header {
  background: url(../novas-project/assets/home.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 250px;
  width: 250px;
  position: absolute;
  top: 20%;
  left: 15%;
  color: #333;
}
header p {
  margin-top: 10px;
}

nav {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333;
  padding-bottom: 10px;
}
nav .partial-underline {
  border-bottom: 1px solid #333;
  border-image-source: linear-gradient(to right, #333, white);
  border-image-slice: 10;
}
nav .nav-logo {
  margin: 10px 0 10px 25px;
}
nav .nav-shopping-bag {
  height: 100%;
  margin: 12px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
nav .nav-shopping-bag p {
  font-size: 15px;
  color: #333;
  position: absolute;
  top: 0px;
  right: 0px;
}
nav .fa-solid {
  padding: 15px;
  cursor: pointer;
}
nav .fa-regular {
  display: none;
  cursor: pointer;
}
nav .searchBar {
  position: fixed;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: white;
  padding: 20px;
}
nav .showSearch {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
nav .icons {
  color: #333;
  z-index: 100;
  padding-bottom: 0px;
  padding-top: 0px;
  border: none;
  cursor: pointer;
  height: 100%;
}

.results li {
  width: 100%;
}

.results img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 10px 0 10px 0;
}
nav ul li {
  margin: 0 10px;
  /*display: flex;
  justify-content: space-between;*/
}
nav ul a {
  text-decoration: none;
  color: #333;
  /*hover:
  focus: FIGURE OUT how to properly use these**/
}

h1 {
  text-align: left;
  font-weight: 500;
  width: 100%;
}

header h2 {
  text-align: center;
  font-weight: 400;
}

header p {
  text-align: left;
  font-size: 12px;
  line-height: 1.5;
}

.featured-sale-title {
  text-align: center;
  font-weight: 300;
  margin: 25px 0 40px 0;
}
.featured-sale-title h2 {
  border-bottom: 2px solid #333; /*why no work?*/
}

.index-h2 {
  text-align: center;
  font-weight: 300;
  margin: 10px;
}

.index-p {
  text-align: center;
  color: #666;
}

.vertical-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
  margin-bottom: 0;
  position: relative;
}
.vertical-items .vertical-items-text {
  background-color: white;
  color: #333;
  position: absolute;
  bottom: 20%;
  padding: 5px 10px 5px 5px;
  font-size: 14px;
}
.vertical-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}
.vertical-items ul li {
  margin: 10px;
  width: 33.3333333333%;
  padding: 20px 10px 0;
}

.featured-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 100px;
}
.featured-sale ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.featured-sale ul li {
  width: calc(20% - 1rem);
  margin: 0.5rem;
  border: 1px solid rgb(240, 233, 233);
  position: relative;
}

.sale,
.new {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 0px;
  width: 50px;
  text-align: center;
  padding: 3px 0 3px 0;
}

.sale {
  background: #eba6aa;
}

.new {
  background: #88cce2;
}

.sales-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-info-container {
  margin-left: 10px;
}

.shopping-cart-container {
  width: 25%;
  height: 25%;
  border: 1px solid rgb(240, 233, 233);
  margin: 0 10px 10px 0;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  background: white;
  color: #333;
  border: 1px solid #333;
  padding: 15px 25px 10px 25px;
  text-align: center;
}

.couches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 90px;
}
.couches ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.couches ul li {
  height: 100%;
  margin: 10px;
}

.couch-sale {
  position: relative;
}

.sale-up-to {
  position: absolute;
  top: 52%;
  left: 40%;
  text-transform: uppercase;
  background: white;
  color: #d7b89c;
  width: 100px;
  padding: 0 10px 0 10px;
  font-size: 14px;
}

.fifty-percent-off {
  position: absolute;
  top: 55%;
  left: 30%;
  text-transform: uppercase;
  color: white;
  margin-top: 10px;
  font-size: 50px;
}

.shop-now {
  position: absolute;
  top: 58%;
  left: 40%;
  color: white;
  margin-top: 50px;
}

.leather-loveseat {
  position: relative;
  width: 100%;
  display: block;
  clear: right;
  border-radius: 5px;
}
.leather-loveseat .get {
  position: absolute;
  color: white;
  font-size: 25px;
  left: 30%;
  top: 35%;
}
.leather-loveseat .thirty-percent {
  position: absolute;
  color: white;
  font-size: 50px;
  left: 40%;
  top: 30%;
}
.leather-loveseat .off {
  position: absolute;
  color: white;
  font-size: 25px;
  left: 60%;
  top: 35%;
}
.leather-loveseat .on-elisa {
  position: absolute;
  color: white;
  font-size: 25px;
  left: 25%;
  top: 45%;
}

.text-border {
  border: 2px white;
  height: 100px;
  width: 125px;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 100px 80px;
}
.instagram ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.instagram ul li {
  margin: 10px;
}

/* Footer Styles*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 16px;
  background: #333;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px;
  line-height: 1.3;
}
footer .text-container {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 250px;
  margin: 10px 0 10px 0;
  /*width: calc(25%);*/
}
footer img {
  height: 20px;
  width: 20px;
  margin: 0 5px 0 5px;
}
footer .slogan ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer .logo img {
  width: calc(25% + 50px);
  height: 100%;
  margin: 0;
}
footer a {
  text-decoration: none;
  color: rgb(240, 233, 233);
}
input {
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0 25px 0;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*.email-submission {
    fieldset {
        border: none;
        padding: 0;
    }

    input {
        border: none;
        border-bottom: 1px solid black;
        margin-top: 10px;
        display: block;
        width: 100%;
    }
}*/
/*.newsletter {
    input {
        border: none;
        border-bottom: 1px solid black;
        margin-top: 10px;
        display: block;
        width: 100%;
    }

    fieldset {
        border: none;
        padding: 0;
    }
}*/
/* Media Queries*/
@media (max-width: 960px) {
  input[type=checkbox] {
    display: block;
  }
}
input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  cursor: pointer;
  background: url(/novas-project/assets/icons/icons8-menu-rounded-32.png) center/cover no-repeat;
}

@media (max-width: 600px) {
  .vertical-items ul,
  .featured-sale ul,
  .couches ul,
  footer,
  .instagram ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vertical-items ul li,
  .featured-sale ul li,
  .couches ul li,
  .instagram ul li {
    width: 100%;
  }
}
/*@media (max-width: 600px) {
  input[type="checkbox"] {
    display: block;
  }
  .vertical-items ul {
    flex-direction: column;
    align-items: center;
    li {
      width: 100%;
      height: 100%;
      border: 1px solid black;
    }
  }
}*/
