html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*stripping the default styles*/
h1, h2, h3, h4, h5, h6, p, ul, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/*for responsive design, making sure image is never larger than the container*/
img {
  max-width: 100%;
  height: auto;
}

/* Not sure if I need this wrapper with these specific dimensions?*/
/*.wrapper {
    max-width: 1080px;
   width: 90%;
    margin: 0 auto;
}*/
/* Heading Text = Poppins Medium 500

Body Text = Poppins Regular 400

50% Off = Poppins Bold 700

#eba6aa; (pink for small things)

background: #333 (darker grey)

#666 (light grey)

#88cce2 (baby blue for small things)


*/
html {
  font-family: "Poppins", sans-serif;
  font-size: 125%;
}

nav,
main {
  background: #fff;
}

footer {
  background: #333;
}

/*HEADER STYLES*/
header {
  background: url(../novas-project/assets/home.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
header.contact-header {
  background: url(../novas-project/assets/contact.jpg);
  background-repeat: no-repeat;
}

header .wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

header .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background: greenyellow;
  margin: 100px;
  height: 250px;
  width: 250px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: lightcoral;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  text-align: left;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-weight: 400;
}

p {
  text-align: center;
}

.vertical-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 200px;
}

.vertical-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: greenyellow;
}

.vertical-items li {
  margin: 10px;
}

.featured-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 200px;
}

.featured-sale ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured-sale li {
  width: 20%;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 50%;
  padding: 5px 20px;
}

.couches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 200px;
  background: greenyellow;
}

.couches ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.couches li {
  height: 100%;
  margin: 10px;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 200px;
}

.instagram ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instagram li {
  margin: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 200px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Code I pulled from polar bear project to see what would help header

header {   
    padding-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: 500;
    font-size: 4rem;
}

h1 span {
    font-weight: 700;
    display: block;
}

nav ul {
    display: flex;
}  

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    background: #295196;
    font-size: 1.75rem;
    padding: 10px 40px 5px;
    text-decoration: none;
    display: inline-block;
    border: 4px solid transparent;
}

nav a:hover,
nav a:focus {
    border: 4px solid white;
}
*/